<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<main>
			<h1>Wat wil je doen?</h1>
			<a href="/create-game">Een wedstrijd aanmaken</a>
			<a href="/overview">Een wedstrijd volgen</a>
		</main>
	</body>
</html>
